.snackbar-success {
  background: #0f172a; 
  color: white;
  border-radius: 9999px;
  font-weight: 500;
}

.snackbar-error {
  background: #7f1d1d; 
  color: white;
  border-radius: 9999px;
  font-weight: 500;
}
