.mat-mdc-button {
  font-weight: 500;
  text-transform: none;
}

.mat-toolbar {
  min-height: 80px;
}

/* .mat-sidenav {
  background-color: #34234a;
} */

mat-sidenav .mat-mdc-button {
  color: white !important;
}
