services:
  postgres:
    image: 'postgres:latest'
    environment:
      - 'POSTGRES_DB=voom'
      - 'POSTGRES_PASSWORD=secret'
      - 'POSTGRES_USER=postgres'
    ports:
      - '5432:5432'

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - '1025:1025'  
      - '8025:8025'   
