.fullRow {
  height: fit-content !important;
  border-bottom: 3px solid #0f1e52 !important;
}

.fullRow-border {
  border-bottom: 1px solid #000;
}

@media (max-width: 768px) {
  .mat-mdc-header-row {
    display: none;
  }

  .mat-mdc-row {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px !important;
    height: auto !important;
  }

  .mat-mdc-cell {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    border: none !important;
    padding: 4px 0 !important;
  }

  .mat-mdc-cell::before {
    content: attr(data-label);
    font-weight: bold;
    color: #0f1e52;
  }
}
