<section class="px-16 py-4">
  <div class="font-medium text-2xl">Favorite routes</div>

  @if (loading()) {
    <p class="text-gray-500">Loading...</p>
  }

  @if (!loading() && routes().length === 0) {
    <div class="py-8">
      <div class="text-center text-xl">No favorite routes found yet</div>
    </div>  }

  <div class="flex flex-col gap-6">
    @for (route of routes(); track route.id) {
      <app-favorite-route-accordion
        [route]="route"
        (deleted)="onRouteDeleted()"
      ></app-favorite-route-accordion>
    }
  </div>
</section>
