.reports-container {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

/* FILTER */
.filter-card {
  padding: 16px 24px;
}

.filter-content {
  display: flex;
  align-items: center;
  gap: 16px;
  width: 100%;
}

.generate-btn {
  margin-left: auto;
}

.date-field {
  min-width: 220px;
}


/* SUMMARY */
.summary-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.summary-card {
  padding: 20px;
  text-align: center;
}

.summary-card h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: #666;
}

.summary-card p {
  margin-top: 8px;
  font-size: 24px;
  font-weight: 600;
}

/* CHARTS */
.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 24px;
}


.chart-card {
  padding: 20px;
}

.chart-card h3 {
  margin-bottom: 16px;
  font-weight: 600;
}

.chart-wrapper {
  position: relative;
  height: 350px;
}

::ng-deep .date-field .mat-mdc-form-field-icon-suffix {
  margin-right: 8px;
}

