<nav class="pl-[30px] pr-[30px] pt-[30px] pb-[30px] shadow-2xl">
  <ul class="flex items-center justify-between max-w-7xl ml-auto mr-auto">
    <li class=""><a href="">How it Works</a></li>
    <li class=""><a href="">Vehicle Types</a></li>
    <li class="">
      <img src="LOGO v1 blue.png" alt="" />
    </li>
    <li class=""><a href="">Sign In</a></li>
    <li
      class="bg-(--primary-color) pt-[20px] pb-[20px] pl-[50px] pr-[50px] text-white rounded-4xl hover:bg-(--primary-hover) transition-colors cursor-pointer"
    >
      <a href="#register">Sign Up</a>
    </li>
  </ul>
</nav>
