<!-- for tabel we need date, start time, end time, source, destination, status, price, open passenger list -->
<table
  mat-table
  [dataSource]="rideDataSource"
  multiTemplateDataRows
  matSort
  matSortActive="date"
  matSortDirection="desc"
  matSortDisableClear
>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
    <td mat-cell *matCellDef="let element">
      {{ `${element.date.getDate()}.${element.date.getMonth() + 1}.${element.date.getFullYear()}` }}
    </td>
  </ng-container>

  <ng-container matColumnDef="startTime">
    <th mat-header-cell *matHeaderCellDef>Start Time</th>
    <td mat-cell *matCellDef="let element">{{ element.startTime }}</td>
  </ng-container>

  <ng-container matColumnDef="endTime">
    <th mat-header-cell *matHeaderCellDef>End Time</th>
    <td mat-cell *matCellDef="let element">{{ element.endTime }}</td>
  </ng-container>

  <ng-container matColumnDef="source">
    <th mat-header-cell *matHeaderCellDef>Source</th>
    <td mat-cell *matCellDef="let element">{{ element.source }}</td>
  </ng-container>

  <ng-container matColumnDef="destination">
    <th mat-header-cell *matHeaderCellDef>Destination</th>
    <td mat-cell *matCellDef="let element">{{ element.destination }}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td mat-cell *matCellDef="let element">{{ element.status }}</td>
  </ng-container>

  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let element">{{ element.price }}</td>
  </ng-container>

  <ng-container matColumnDef="panic">
    <th mat-header-cell *matHeaderCellDef>Panic</th>
    <td mat-cell *matCellDef="let element">{{ `${element.panic ? '✔️' : '✖️'}` }}</td>
  </ng-container>

  <ng-container matColumnDef="openPassengerList">
    <th mat-header-cell *matHeaderCellDef>Passengers</th>
    <td mat-cell *matCellDef="let element">
      <span>↓</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="fullRow">
    <td mat-cell *matCellDef="let row" [attr.colspan]="displayedColumnsRide.length">
      @if (expandedRow === row) {
      <div class="p-[15px] flex flex-col items-start w-full">
        <div class="w-full h-[3px] bg-gray-200 mb-[30px] rounded-4xl"></div>
        <h3 class="text-xl mb-[30px]">Passengers</h3>

        <div>
          @for(passenger of row.passengers; track passenger.name) {
          <div class="flex items-center gap-[10px] max-w-[200px] mb-[10px]">
            <img src="assets/icons/free driver.png" alt="" class="w-[30px]" />
            <p>{{`${passenger.name} ${passenger.lastname}`}}</p>
            <br />
          </div>
          }
        </div>
      </div>
      }
      <div class="w-full h-[3px] bg-[#0f1e52] rounded-4xl"></div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumnsRide"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumnsRide"
    (click)="toggleRow(row)"
    class="driver-history-data-row"
    [class.row-active]="expandedRow === row"
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['fullRow']" class="fullRow"></tr>
  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell p-8 text-center" colspan="10">
      <div class="text-gray-500">No rides found.</div>
    </td>
  </tr>
</table>
