<footer class="bg-blue-950 text-white mt-20">
    <div class="max-w-6xl mx-auto px-10 py-14">

        <div class="grid grid-cols-3 gap-10 items-start">

            <div class="text-2xl font-bold italic">
                <img src="assets/images/white-logo.png" class="text-color-white">
            </div>

            <div>
                <h4 class="text-sm font-semibold mb-4">ABOUT</h4>
                <ul class="space-y-2 text-sm text-gray-200">
                    <li class="hover:underline cursor-pointer">Schedule a Ride</li>
                    <li class="hover:underline cursor-pointer">Vehicle Types</li>
                    <li class="hover:underline cursor-pointer">Mobile App</li>
                </ul>
            </div>

            <div>
                <h4 class="text-sm font-semibold mb-4">USERS</h4>
                <ul class="space-y-2 text-sm text-gray-200">
                    <li class="hover:underline cursor-pointer">Sign In</li>
                    <li class="hover:underline cursor-pointer">Sign Up</li>
                </ul>
            </div>

        </div>

        <div class=" mt-10 pt-6 text-center text-sm text-gray-300">
            Copyright © 2025 Visor Inc
        </div>

    </div>
</footer>