// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use 'tailwindcss';
@use 'app/shared/scss/overrides';

$primary: #0f1e52;
$secondary: #4a68d2;
$tertiary: #b1b2b5;
$error: #7d0220;

html {
  @include mat.theme(
    (
      color: (
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    )
  );
}

body {
  // Default the application to a light color theme. This can be changed to
  // `dark` to enable the dark color theme, or to `light dark` to defer to the
  // user's system settings.
  color-scheme: light;

  // Set a default background, font and text colors for the application using
  // Angular Material's system-level CSS variables. Learn more about these
  // variables at https://material.angular.dev/guide/system-variables
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  // Reset the user agent margin.
  margin: 0;
}

@include mat.form-field-overrides(
  (
    filled-container-color: transparent,
    outlined-container-shape: var(--mat-sys-corner-extra-large),
    outlined-outline-color: $primary,
    outlined-outline-width: 2px,
    outlined-label-text-color: $primary,

    outlined-focus-outline-color: $primary,
    outlined-focus-outline-width: 2px,
    outlined-focus-label-text-color: $primary,
  )
);

// there is no overrides for needed styles so it has to be done like thuis
.mat-mdc-header-row {
  color: #fff !important;
  background-color: $primary !important;
}

.mat-mdc-header-cell:first-child {
  border-top-left-radius: 10px !important;
}

.mat-mdc-header-cell:last-child {
  border-top-right-radius: 10px !important;
}

.mat-mdc-table {
  border-collapse: separate !important;
  border-spacing: 0;
}

.driver-history-data-row {
  height: 80px !important;
}

app-ride-history-table {
  .mat-sort-header-arrow {
    color: white !important;
  }

  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 0px solid transparent;
    border-top: 0px solid transparent;
    cursor: pointer;
  }

  .mat-mdc-row {
    transition: background-color 200ms ease;
  }

  .driver-history-data-row:hover {
    background-color: #0011ff04;
  }
  .row-active {
    background-color: transparent;
  }
  .row-active:hover {
    background-color: transparent;
  }
}

.mat-mdc-header-cell,
.mat-mdc-cell {
  text-align: center !important;
  vertical-align: middle;
}

.mat-sort-header-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@include mat.slide-toggle-overrides(
  (
    selected-icon-size: 0px,
    selected-track-outline-color: white,
    selected-handle-color: white,
    selected-pressed-handle-color: white,
    selected-focus-handle-color: white,
    selected-hover-handle-color: white,

    unselected-icon-size: 0px,
    unselected-track-color: $primary,
    unselected-hover-track-color: $primary,
    unselected-pressed-track-color: $primary,
    unselected-focus-track-color: $primary,
    track-outline-color: white,
    unselected-handle-color: white,
    unselected-pressed-handle-color: white,
    unselected-focus-handle-color: white,
    unselected-hover-handle-color: white,
  )
);


@include mat.sidenav-overrides(
    (
      container-divider-color: $primary,
      container-text-color: $primary,
      container-shape: 0px,
      container-width: 196px,
    )
);

@include mat.card-overrides((
  outlined-outline-color: $primary,
))
